for loop

In [1]:
for index in[10,20,30,40,50]:
    print(index)

10
20
30
40
50

In [2]:
for index in[10,11,12,13,14,15]:
    print(index)

10
11
12
13
14
15

In [3]:
for index in[26,39,56]:
    print(index)

26
39
56

In [4]:
for index in[10.3,11.5,12.2,13.7,14.9,15.0]:
    print(index)

10.3
11.5
12.2
13.7
14.9
15.0

In [5]:
for index in['a','b','c','d']:
    print(index)

a
b
c
d

In [6]:
for i in['a','b','c','d']:
    print(i)

a
b
c
d

In [7]:
for p in['e','f','g','h']:
    print(p)

e
f
g
h

In [8]:
for x in['apple','banana','kiwi','grapes']:
    print(x)

apple
banana
kiwi
grapes

In [16]:
for p in ['a','b',78,90,5,'apple','kiwi']:
    print(p)

a
b
78
90
5
apple
kiwi

In [17]:
list1=[15,16,17,18]

In [18]:
for i in list1:
    print(i)

15
16
17
18

In [20]:
list2=['apple','lenov','hp']
for k in list2:
    print(k)

apple
lenov
hp

In [21]:
list2=['apple','lenov','hp']
for k in list2:
    print(k,end=" ")

apple lenov hp

In [23]:
#range
print(0,3)

0 3

In [1]:
range(6)

range(0, 6)

In [2]:
range(0,10)

range(0, 10)

In [4]:
list(range(4))

[0, 1, 2, 3]

In [5]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [7]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [17]:
for i in range(5):
        print(i,end=" ")

0 1 2 3 4

In [19]:
for i in range(5,10):
        print(i)

5
6
7
8
9

In [20]:
for i in range(2,10):
    print(i,end=" ")

2 3 4 5 6 7 8 9

In [22]:
#range(start,end,skip/jump)
list(range(2,10,2))

[2, 4, 6, 8]

In [23]:
list(range(100,400,200))

[100, 300]

In [24]:
list(range(10,100,10))

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [25]:
list(range(2,20))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [29]:
list(range(0,20,5))

[0, 5, 10, 15]

In [31]:
for p in range(2,10,2):
    print(p)

2
4
6
8

In [33]:
list (range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [39]:
t=int(input('enter any number to generate the table'))
for i in range(1,11):
        print(t*i)

enter any number to generate the table2
2
4
6
8
10
12
14
16
18
20

In [40]:
t=int(input('enter any number to generate the table'))
for i in range(1,20):
        print(t*i)

enter any number to generate the table5
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [43]:
t=int(input('enter any number to generate the table'))
for i in range(1,20):
        print(t,'*',i,"=",t*i)

enter any number to generate the table5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95

In [45]:
k=[]
for i in range(5):
    k.append(i)
    print(k)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]

In [47]:
k=[]
for i in range(5):
    k.append(i)

print(k)

[0, 1, 2, 3, 4]

In [51]:
k=[]
for i in range(5):
    k.append(i)
    
print(k)

[0, 1, 2, 3, 4]

In [52]:
k=[]
for i in range(5):
    string1=input("enter any city name to be append")
    k.append(string1)
    print(k)

enter any city name to be appenddelhi
['delhi']
enter any city name to be appendmanali
['delhi', 'manali']
enter any city name to be appendshamli
['delhi', 'manali', 'shamli']
enter any city name to be appendmumbai
['delhi', 'manali', 'shamli', 'mumbai']
enter any city name to be appendlucknow
['delhi', 'manali', 'shamli', 'mumbai', 'lucknow']

In [53]:
k=[]
for i in range(5):
    string1=input("enter any city name to be append")
    k.append(string1)
    
    
print(k)

enter any city name to be appenddelhi
enter any city name to be appendmumbai
enter any city name to be appendlucknow
enter any city name to be appendmanali
enter any city name to be appendshamli
['delhi', 'mumbai', 'lucknow', 'manali', 'shamli']

In [ ]:
k=[]
for i in range(5):
    val=input("enter any city name to be append")
    k.append(val)
    print(k)

enter any city name to be appenddelhi
['delhi']
enter any city name to be appendmumbai
['delhi', 'mumbai']
enter any city name to be appendmanali
['delhi', 'mumbai', 'manali']
enter any city name to be appendshimla
['delhi', 'mumbai', 'manali', 'shimla']

In [2]:
marks=70

if (marks)>50:
    print("good")
    
else:
    print('avrege')

good

In [3]:
marks=40

if (marks)>50:
    print("good")
    
else:
    print('avrege')

avrege

In [5]:
if(10%2==0):
    print('even number')
    
else:
    print('odd number')

even number

In [6]:
if(13%2==0):
    print('even number')
    
else:
    print('odd number')

odd number

In [13]:
p=int(input('enter anynumber to be tested'))
if(p%2==0):
    print('even number')
    
else:
    print('odd number')

enter anynumber to be tested12
even number

In [16]:
p=int(input('enter anynumber to be tested'))
if(p%2==0):
    print('even number')
    
else:
    print('odd number')

enter anynumber to be tested15
odd number

In [17]:
p=int(input('enter anynumber to be tested'))

if (p%2==0):
    print('even number')
    
else:
    print('odd number')

enter anynumber to be tested17
odd number

In [18]:
p=int(input('enter anynumber to be tested'))
if(p%3==0):
    print('even number')
    
else:
    print('odd number')

enter anynumber to be tested15
even number

In [22]:
p=int(input('enter anynumber to be tested'))

if(p%2!=0):
    print('odd number')
    
else:
    print('even number')

enter anynumber to be tested13
odd number

In [23]:
p=int(input('enter anynumber to be tested'))

if(p%2!=0):
    print('odd number')
    
else:
    print('even number')

enter anynumber to be tested12
even number

In [33]:
grade=int(input('Enter any grade'))

if grade>90:
        print('Excellent')
elif grade>80 and grade<=90:
        print('Very good')
elif grade>70 and grade<=80:
        print('Good')
elif grade>60 and grade<=70:
        print('Averege')
        
else:
        print('Poor')

Enter any grade87
Very good

In [34]:
grade=int(input('Enter any grade'))

if grade>90:
        print('Excellent')
elif grade>80 and grade<=90:
        print('Very good')
elif grade>70 and grade<=80:
        print('Good')
elif grade>60 and grade<=70:
        print('Averege')
        
else:
        print('Poor')

Enter any grade57
Poor

In [35]:
grade=int(input('Enter any grade'))

if grade>90:
        print('Excellent')
elif grade>80 and grade<=90:
        print('Very good')
elif grade>70 and grade<=80:
        print('Good')
elif grade>60 and grade<=70:
        print('Averege')
        
else:
        print('Poor')

Enter any grade65
Averege